services:
  mlops-api:
    build:
      context: .  # Контекст - корневая папка
      dockerfile: service/Dockerfile  # Но Dockerfile в папке service
    container_name: mlops-api
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=production
      - LOG_LEVEL=INFO
    volumes:
      # Монтируем конфиги
      - ./configs:/app/configs
    restart: unless-stopped