 

services:
  #  FastAPI сервис
  fastapi-service:
    build: ./service
    container_name: fastapi-comment-predictor
    ports:
      - "8000:8000"
    command: python api.py  # Запуск FastAPI
    volumes:
      - ./configs:/app/configs

  # BentoML сервис  
  bentoml-service:
    build: ./service
    container_name: bentoml-comment-predictor
    ports:
      - "3000:3000"
    command: bentoml serve service/bento_service.py:svc --port 3000 --host 0.0.0.0
    volumes:
      - ./configs:/app/configs